.grid-container{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    margin: 2%;
    padding: 4%;
    grid-template-areas: 
    "image1 image2 image3 image4"
    "Image5 image6 image7 image8"
    "image9 image10 image11 image12";
}


.image1{
  grid-area: image1;
}
.image2{
  grid-area: image2;
}

.image3{
  grid-area: image3;
}

.image4{
  grid-area: image4;
}

.image5{
  grid-area: image5;
}

.image6{
  grid-area: image6;
}

.image7{
  grid-area: image7;
}

.image8{
  grid-area: image8;
}

.image9{
  grid-area: image9;
}

.image10{
  grid-area: image10;
}

.image11{
  grid-area: image11;
}

.image12{
  grid-area: image12;
}


img{
  height: auto;
  width:100%;
  border-radius: 15px;
}