body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}
header,footer{
    grid-area: header / span 2;
    background-color: aqua;
    color: white;
    padding: 10px;
}
footer{
    grid-area: footer /span 2;
}

.grid-item {
    background-color: beige;
    padding: 20px;
    margin: 10px;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}