.grid-container{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin: 2%;
    padding: 4%;
}

img{
    height: 100%;
    width: auto;
}