.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 4%;
    gap: 2%;
    margin: 2%;
    grid-template-areas: 
    "article1 article2 article3 article4 "
    "article5 article6 article7 article8"
    "article9 article10 article11 article12";
}

img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

#Article1{
  grid-area: article1;
}

#Article2{
  grid-area: article2;
}

#Article3{
  grid-area: article3;
}

#Article4{
  grid-area: article4;
}

#Article5{
  grid-area: article5;
}

#Article5{
  grid-area: article5;
}

#Article6{
  grid-area: article6;
}

#Article7{
  grid-area: article8;
}

#Article9{
  grid-area: article9;
}

#Article10{
  grid-area: article10;
}

#Article11{
  grid-area: article11;
}

#Article12{
  grid-area: article12;
}

h1{
  font-size: 36px;
  color: brown;
  text-align: center;
}

h2{
  color: white;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
}
body{
  background-color: rgb(130, 167, 144);
}
input[type="button"]{
  padding: 2%;
  border-radius: 20px;
  border: 0px solid whitesmoke;
  background-color: rgb(36, 126, 17);
  color: white;
  font-style: italic;
}

footer{
  background-color: rgb(255, 255, 255);
  width: 100%;
}
span{
  color: white;
  font-weight: bold;
  font-style: oblique;
  font-size: 20px;
}