*{
   margin: 0;
   padding: 0;
   box-sizing: content-box;
   font-family: fantasy;
}
img{
    height: 500px;
    width: 500px;
}
.grid-container img{
    display: block;
}
h1{
    color: brown;
    font-size: 3.5vw;
}
h2{
    color: brown;
    font-size: 2.5vw;
}
header{
    display: flex;
    padding: 4%;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(200, 229, 238);
    align-items: center;
    margin-bottom: 4%;
}
ul{
    font-size: 1.5vw;
    display: flex;
    gap: 2rem;
    list-style: none;
}
a{
    text-decoration: none;
    color: brown;
    font-weight: 600;
}
.btn{
    margin-top: 3%;
    display: inline-block;
    background-color: rgb(200, 229, 238);
    padding: 2%;
    border-radius: 10px;
    color: brown;
    font-size: 1.6vw;
    font-style: italic;
}

/*PARTIE GRID PAGE ACCUEIL (main) */

.grid-container{
    
    
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "titre titre"
    "item1 item2"
    "item3 item3";
}

.itemtitre{
    display: flex;
    grid-area: titre;
    background-image: url(Galeries/Image_main.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.itemtitre h2{
    color: rgb(206, 0, 0);
    font-style: italic;
    font-weight: 900;
    font-size: 8vw;
}
.item1{
    padding: 4%;
    grid-area: item1;
}
.item2{
    padding: 4%;
    grid-area: item2;
}
.item3{
    padding: 4%;
    grid-area: item3;
    justify-self: center;
}

/*FIN GRID MAIN PAGE ACCUEIL */

footer{
    display: grid;
    gap: 3%;
    background-color: rgb(200, 229, 238);
    padding: 4%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "footer1 footer2 footer3";
}

.footer-item1{
    grid-area: footer1;
}
.footer-item2{
    grid-area: footer2;
}
.footer-item3{
    grid-area: footer3;
}
h3{
    color: brown;
    margin-bottom: 3%;
    font-size: 2vw;
}

header li:hover{
background-color: antiquewhite;
border-radius: 10px;
padding: 4px;
transform: rotate(15deg);
transform-origin: top right;
transition-duration: 1s;
}

/* CSS GALERIE PHOTOS */

.container-photo{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.container-photo img:hover{
    cursor: pointer;
    transform: rotate(5deg);
    transition-duration: 1s;
    transform-origin: top right;
}

/* PAGE CONTACT */
form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
}
label{
    color: brown;
    font-size: 1.5em;
    display: block;
}
textarea{
    display: block;
    border-radius: 10px;
    border-color: brown;
    text-align: center;
    padding: 10%;
}
input{
    padding: 10%;
    border-radius: 10px;
    border-color: brown;
}
#envoyer{
    background-color: rgb(200, 229, 238);
    border: none;
    color: brown;
    font-size: 1.5em;
    margin-bottom: 50%;
}
#envoyer:hover{
background-color: bisque;
transition-duration: 1s;
}

/*PAGE A PROPOS DE NOUS */

article{
    padding: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
video{
    height: 80vh;
    width: auto;
}
#titreapropos{
    text-align: center;
    text-decoration: underline;
}