.box1{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 20px;
    border: 1px solid black;
    background-color: aqua;
}
.box2{
    display: inline-block;
    height: 100px;
    width: 100px;
    padding: 15px;
    border: 1px solid rgb(58, 75, 161);
    background-color: red;
}