.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    
}

.grid-item{
    height: 100px;
    margin: 15px;
}

.grid-item:nth-child(1){
    background-color: rgb(123, 211, 29);
}
.grid-item:nth-child(2){
    background-color: rgb(89, 101, 77);
}
.grid-item:nth-child(3){
    background-color: rgb(66, 45, 116);
}
.grid-item:nth-child(4){
    background-color: rgb(118, 10, 10);
}
.grid-item:nth-child(5){
    background-color: rgb(223, 43, 12);
}
.grid-item:nth-child(6){
    background-color: rgb(29, 211, 193);
}