.conteneur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: blue;
    height: 500px;
    
}


.item{
    flex: 1 2 30%;
    width: 200px;
    height: 300px;
    background-color: red;
    margin: 10px;
}

.item:nth-child(1){
background-color: aqua;
align-self: center;
}


.item:nth-child(2){
background-color: rgb(84, 213, 20);
}
